<div id="CartDrawer" class="cart-drawer drawer--right">
  <div class="cart-drawer--header">
    <div class="cart-drawer--title">{{ 'cart.general.title' | t }}</div>
    <div class="cart-drawer--close js-drawer-close">
      <button type="button" class="icon-fallback-text">
        <div class="line-wrapper">
          <div class="line"></div>
          <div class="line line2"></div>
        </div>
        <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
      </button>
    </div>
  </div>
  <div id="CartContainer"></div>
</div>