<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="rectangle">
				<h5>A LIFETIME OF EXPERIENCE</h5>
			</div>
			<h3 class="u-capitalize u-letterSpacing3">Born into coffee</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-padding--4y">
			<p class="u-textLeft">
				Our founder, Aquiles Guerrero, began his experience in coffee at an early age. Growing up on his families coffee farm in the rural mountains of Nicaragua, Aquiles was blessed with a unique opportunity to learn and experience the early stages and techniques of coffee processing. From growing to picking, to washing and drying of green coffee.
			</p>
		</div>
	</div>
</section>

<section class="three-up">
	<div class="container">
		<div class="row image-row-3">
			<div class="col-sm-4 hidden-xs">
				<div class="bg-img-holder js-fadeIn" style="background-image: url('//cdn.shopify.com/s/files/1/1080/7300/files/AquilesFamily980.jpg');"></div>
			</div>
			<div class="col-sm-4">
				<div class="bg-img-holder js-fadeIn" style="background-image: url('//cdn.shopify.com/s/files/1/1080/7300/files/AquilesDonkey980.jpg');"></div>
			</div>
			<div class="col-sm-4 hidden-xs">
				<div class="bg-img-holder js-fadeIn" style="background-image: url('//cdn.shopify.com/s/files/1/1080/7300/files/AquilesRain980.jpg');"></div>
			</div>
		</div>
	</div>
</section>

<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="u-capitalize u-letterSpacing3">Learning Hands-On</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-padding--4y">
			<p class="u-textLeft">
				Aquiles's experience with coffee would later grow into a great passion in 1989, when he moved to San Francisco where his Aunt Martha had opened the family’s first coffee shop, Martha & Bros. Coffee. Working at Martha & Bros. Coffee throughout high-school, Aquiles would learn the tricks of the barista trade. His roasting craftsmanship began while helping his father who opened a roastery in the early 1990’s.
			</p>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row">
		<div class="image-half">
			<div class="bg-img-holder js-fadeIn" style="background-image: url('//cdn.shopify.com/s/files/1/1080/7300/files/FlywheelInterior.jpg');"> 
		</div>
	</div>
</section>

<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="u-capitalize u-letterSpacing3">The wheel keeps on turning</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-padding--4y">
			<p class="u-textLeft">
				Through hard work and dedication, Aquiles’s lifelong dream became a reality when he opened Flywheel Coffee Roasters in 2012. He’s a proud husband to high school sweetheart, Marissa, and together they have three children, Sofia, Gia, and Isaiah.
			</p>
		</div>
	</div>
</section>