<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="u-capitalize u-letterSpacing3">Come Brew with Us</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-padding--4y">
			<p class="u-textLeft">
				We're passionate about coffee at Flywheel. Roasting, cupping, teaching - it's serious stuff. We try not to take ourselves too seriously, though. The Flywheel team is family, and if you're passionate about coffee, have a good sense of humor, and are always happy to learn something new, we'd love to meet you.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-textCenter u-padding--4y">
			<h5 class="u-capitalize">Email Applications To...</h5>
			<a class="u-capitalize" href="mailto:wholesale@flywheelcoffee.com">info@flywheelcoffee.com</a>
			<br/>
			<a class="u-capitalize" href="tel:+14156824023">415-682-4023</a>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row">
		<div class="image-half">
			<div class="bg-img-holder js-fadeIn" style="background-image: url('//cdn.shopify.com/s/files/1/1080/7300/files/jeff-maddy-stephen-1980.jpg');"> 
		</div>
	</div>
</section>