<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="rectangle">
				<h5>Catering</h5>
			</div>
			<h3 class="u-capitalize u-letterSpacing3">The perfect cup, wherever you are</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-padding--4y">
			<p class="u-textLeft">
				For the last couple years, we've been proud to bring our best to you. With our Elektra espresso machine and pour-over equipment, Flywheel Coffee can be wherever you are. Private parties, wedding receptions, launch parties, or anywhere you need a good cup of coffee - we're happy to provide.
			</p>
		</div>
	</div>
</section>

<section class="halves">
	<div class="col-md-6 image-half u-noPadding--x">
		<div class="bg-img-holder js-fadeIn" style="background-image: url(//cdn.shopify.com/s/files/1/1080/7300/files/jeff-pourovers.jpg);"></div>
	</div>
	<div class="col-md-6 text-half">
		<h3 class="u-capitalize u-letterSpacing3 u-textCenter">Pour one out</h3>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 u-padding--4y">
				<p class="u-textLeft">
					We're pretty strong believers in the Hario V60, that's why we bring them with us when we head out of the shop. Not much beats a fresh pourover, and our mobile setup means we can provide the same perfect cup you get when you visit us in the Haight.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="halves">
	<div class="col-md-6 col-md-push-6 image-half u-noPadding--x">
		<div class="bg-img-holder js-fadeIn" style="background-image: url(//cdn.shopify.com/s/files/1/1080/7300/files/mobile-espresso.jpg);"></div>
	</div>
	<div class="col-md-6 col-md-pull-6 text-half">
		<h3 class="u-capitalize u-letterSpacing3 u-textCenter">Great Shot, Kid</h3>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 u-padding--4y">
				<p class="u-textLeft">
					Our vintage Vesubio Espresso machine means that wherever we're headed, we can deliver the high-quality shots and espresso drinks we serve in the shop. 
				</p>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row">
		<div class="image-half">
			<div class="bg-img-holder js-fadeIn" style="background-image: url('//cdn.shopify.com/s/files/1/1080/7300/files/garry-chatting.jpg'); background-position: 50% 0% !important;"> 
		</div>
	</div>
</section>

<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-textCenter u-padding--4y">
			<h5 class="u-capitalize">For Pricing & Inquiries:</h5>
			<a class="u-capitalize" href="mailto:wholesale@flywheelcoffee.com">events@flywheelcoffee.com</a>
			<br/>
			<a class="u-capitalize" href="tel:+14156824023">415-682-4023</a>
		</div>
	</div>
</section>