<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="rectangle">
				<h5>Wholesale</h5>
			</div>
			<h3 class="u-capitalize u-letterSpacing3">Make our experience yours</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 u-textCenter u-padding--4y">
			<h5 class="u-capitalize">For Inquiries:</h5>
			<a class="u-capitalize" href="mailto:wholesale@flywheelcoffee.com">wholesale@flywheelcoffee.com</a>
			<br/>
			<a class="u-capitalize" href="tel:+14156824023">415-682-4023</a>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row">
		<div class="image-half">
			<div class="bg-img-holder js-fadeIn" style="background-image: url('//cdn.shopify.com/s/files/1/1080/7300/files/roaster-1920.jpg');"> 
		</div>
	</div>
</section>