<section class="container container-90 u-textCenter u-padding--6y">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="u-capitalize u-letterSpacing3">Brew Like Us</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
			<p class="u-textLeft">
				A great cup of coffee is the result of two things, excellently roasted coffee, and good brewing technique. We’ve put together these guides to help make sure you brew the perfect cup no matter where you are.
			</p>
		</div>
	</div>
</section>

<section class="container container-90 u-textCenter">
	<div class="row">
	  <div class="icon-section col-xs-6 col-sm-6 col-md-3">
	    <h4 class="brew-guide--method">Hario V60</h4>
	    <div class="brew-guide--icon">
	      <img src="//cdn.shopify.com/s/files/1/1080/7300/files/v60-brew.svg">
	    </div>
	    <a class="fw-btn js-smoothScroll" href="#hario-v60">View Guide</a>
	  </div>
	  <div class="icon-section col-xs-6 col-sm-6 col-md-3">
	    <h4 class="brew-guide--method">Chemex</h4>
	    <div class="brew-guide--icon">
	      <img src="//cdn.shopify.com/s/files/1/1080/7300/files/chemex-brew.svg">
	    </div>
	    <a class="fw-btn js-smoothScroll" href="#chemex">View Guide</a>
	  </div>
	  <div class="icon-section col-xs-6 col-sm-6 col-md-3">
	    <h4 class="brew-guide--method">French Press</h4>
	    <div class="brew-guide--icon">
	      <img src="//cdn.shopify.com/s/files/1/1080/7300/files/frenchpress-brew.svg">
	    </div>
	    <a class="fw-btn js-smoothScroll" href="#french-press">View Guide</a>
	  </div>
	  <div class="icon-section col-xs-6 col-sm-6 col-md-3">
	    <h4 class="brew-guide--method">Siphon</h4>
	    <div class="brew-guide--icon">
	      <img src="//cdn.shopify.com/s/files/1/1080/7300/files/siphon-brew.svg">
	    </div>
	    <a class="fw-btn js-smoothScroll" href="#siphon">View Guide</a>
	  </div>
	</div>
</section>

<section id="hario-v60" class="brew-guide">
	<section class="brew-guide--intro">
		<div class="brew-guide--header container-fluid">
			<img src="//cdn.shopify.com/s/files/1/1080/7300/files/v60-dark.svg">
		</div>

		<div class="brew-guide--intro container container-90 u-padding--6y">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="u-textCenter u-capitalize u-letterSpacing3">Hario V60</h2>
		 		</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<p class="u-textLeft">The Hario V60 is our prefered pour-over brewer, it's what we use in the shop. We love it for its capability to extract everything out of coffee without taking too long, thanks to the ribbed sidewalls, its complete V shape, and that ultra big hole at the bottom.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--ingredients">
		<div class="container container-90 u-textCenter">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<div class="rectangle">
						<h5>You'll Need</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Brew Time</h3>
					<p>2:30-3:00 Minutes</p>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Ingredients</h3>
					<ul class="brew-guide--items">
						<li>25g (3 tablespoons) of fresh-roasted Flywheel Coffee</li>
						<li>330g (a bit under 1.5 cups) of hot water, around 195º-205ºF  (fresh off the boil)</li>
					</ul>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Equipment</h3>
					<ul class="brew-guide--items">
						<li>Hario V60</li>
						<li> V60 02 Filter </li>
						<li>Coffee Grinder</li> 
						<li>Gooseneck Kettle</li>
						<li>Gram Scale</li>
						<li> Timer </li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-90">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-textCenter">
				<div class="rectangle">
					<h5>How to brew</h5>
				</div>
			</div>
		</div>
	</div>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Rinse & Warm</h3>
					<p class="u-textLeft">
						Start by pouring hot water through the filter and V60 and into your receiving vessel, this warms up all brewing surfaces and rinses the filter of any paper residue.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Weigh & Grind</h3>
					<p class="u-textLeft">
						Weigh out 25-­28g (3 tablespoons) of coffee and grind it to about the consistency of sea salt. Fill your kettle with 320-­330g (about 1.5 cups) of 205ºF water. Empty out the water you poured into your receiving vessel and add the ground coffee to the filter. Place the V60 with the filled filter on top of your vessel, and tare your scale to zero.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Bloom</h3>
					<p class="u-textLeft">
						Start your timer for 3 minutes. Then, using an amount of water equaling twice the weight of coffee, about 50g, pour slowly, starting from the center and moving outward. Ensure all grounds become saturated. Stop pouring and let the coffee "bloom" for about 15 seconds. Fresh coffee will raise and bubble a bit when first saturated with hot water.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Brew</h3>
					<p class="u-textLeft">
						After the bloom, slowly pour water in a spiral, starting directly in the center of the grounds and moving outward. Add water every 10-15 seconds and keep your pour aimed at any dark spots in the coffee grounds. Keep the water level in the v60 at about two-thirds full. Never pour water directly onto the filter, make sure your pour is hitting the coffee grounds. Continue this until your scale hits 320g.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Enjoy</h3>
					<p class="u-textLeft">
						After three minutes have passed, and your scale has hit 320g, you should have a great cup of coffee. Remove the V60, be tidy and dispose of the filter and the grounds, and go enjoy your cup of coffee. Think about what a great job you just did.
					</p>
				</div>
			</div>
		</div>
	</section>
</section>

<section id="chemex" class="brew-guide">
	<section class="brew-guide--intro">
		<div class="brew-guide--header container-fluid">
			<img src="//cdn.shopify.com/s/files/1/1080/7300/files/chemex-dark.svg">
		</div>

		<div class="brew-guide--intro container container-90 u-padding--6y">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="u-textCenter u-capitalize u-letterSpacing3">Chemex</h2>
		 		</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<p class="u-textLeft">​A favorite of design-afficionados and coffee shops since its introduction in 1941, and James Bond, since <em>From Russia with Love</em>, this hourglass beauty makes a clean and ultra smooth cup of coffee by cutting back on acidity with its thick quad-fold filter.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--ingredients">
		<div class="container container-90 u-textCenter">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<div class="rectangle">
						<h5>You'll Need</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Brew Time</h3>
					<p>4:00 Minutes</p>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Ingredients</h3>
					<ul class="brew-guide--items">
						<li>40g (5 tablespoons) of fresh-roasted Flywheel Coffee</li>
						<li>600g (a bit under 2.5 cups) of hot water, around 195º-205ºF  (fresh off the boil)</li>
					</ul>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Equipment</h3>
					<ul class="brew-guide--items">
						<li>8-Cup Chemex</li>
						<li> Chemex Filter </li>
						<li>Coffee Grinder</li> 
						<li>Gooseneck Kettle</li>
						<li>Gram Scale</li>
						<li> Timer </li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-90">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-textCenter">
				<div class="rectangle">
					<h5>How to brew</h5>
				</div>
			</div>
		</div>
	</div>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Rinse & Warm</h3>
					<p class="u-textLeft">
						Place the filter in the Chemex, making sure the thicker, multi-layered side is against the spout. Start by pouring hot water through the filter and Chemex, this warms preheats the glass, making sure you wind up with a warm cup of coffee, and rinses the filter of any paper residue. Pour out the excess water through the spout, leaving the filter in place while you do. Place the chemex and filter on the scale and tare to zero grams.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Weigh & Grind</h3>
					<p class="u-textLeft">
						Weigh out 40g of fresh roasted coffee and grind medium-coarse. You're aiming for the consistency of Kosher salt. Fill your pouring kettle with 600g, or about 2.5 cups, of water at about 195º - 205ºF. Pour the ground coffee into the filter, giving it a soft shake to settle the grounds and re-tare your scale to zero grams.  
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Bloom</h3>
					<p class="u-textLeft">
						Start your timer for 4 minutes. Then slowly pour about 120g of water onto the grounds, starting from the center and moving outward. Ensure all grounds become saturated. If necessary, use a stir stick to make sure there are no dry grounds. Stop pouring and let the coffee "bloom" for about 45 seconds. Fresh coffee will raise and bubble a bit when first saturated with hot water.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Second Pour</h3>
					<p class="u-textLeft">
						During the second pour, it is important to evenly blend all the water and coffee together. Using a gentle back and forth motion, begin pouring around the edge of the coffee grounds, then in smooth circles until the scale reaches 400g. While pouring, aim for any dark spots in the coffee. Let the water level go down past the mid-point of the filter, then slowly finish pouring in the water until the scale reaches 600g. At this point, you can take a quick walk around the room, check some emails, or meditate on the perfect cup of coffee. 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Enjoy</h3>
					<p class="u-textLeft">
						Once all the water has drained from the filter and grounds, your Chemex should be full to about the glass bubble on the side of the bottom chamber. Go ahead and throw out the filter and coffee grounds, and enjoy your coffee. You should have about two cups worth, so consider sharing some with friends and family.
					</p>
				</div>
			</div>
		</div>
	</section>
</section>

<section id="french-press" class="brew-guide">
	<section class="brew-guide--intro">
		<div class="brew-guide--header container-fluid">
			<img src="//cdn.shopify.com/s/files/1/1080/7300/files/frenchpress-dark.svg">
		</div>

		<div class="brew-guide--intro container container-90 u-padding--6y">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="u-textCenter u-capitalize u-letterSpacing3">French Press</h2>
		 		</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<p class="u-textLeft">
						The french press uses a combination of full immersion and metal filter to brew a bold cup that’s full of flavor with a heavy body and mouthfeel. Easy to use, this device is great for brewing multiple cups at a time.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--ingredients">
		<div class="container container-90 u-textCenter">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<div class="rectangle">
						<h5>You'll Need</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Brew Time</h3>
					<p>4:00 Minutes</p>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Ingredients</h3>
					<ul class="brew-guide--items">
						<li>70g (2 tablespoons per cup) of fresh-roasted Flywheel Coffee</li>
						<li>Hot water, around 195º-205ºF  (fresh off the boil)</li>
					</ul>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Equipment</h3>
					<ul class="brew-guide--items">
						<li>8-Cup French Press</li>
						<li>Coffee Grinder</li> 
						<li>Wooden Spoon or Coffee Paddle</li>
						<li>Gram Scale</li>
						<li> Timer </li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-90">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-textCenter">
				<div class="rectangle">
					<h5>How to brew</h5>
				</div>
			</div>
		</div>
	</div>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Rinse & Warm</h3>
					<p class="u-textLeft">
						Fill the French Press with hot water and plunge to preheat the unit and make sure your coffee is warm when you're finished brewing.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Weigh & Grind</h3>
					<p class="u-textLeft">
						Weigh out 70g of fresh roasted coffee and grind coarse. You're aiming for the consistency of rock salt or breadcrumbs.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Fill & Bloom</h3>
					<p class="u-textLeft">
						Your French Press should be warm now, so discard the rinse water and add your coffee. Start the timer for 4:00 minutes and fill the French Press halfway with hot water. Make sure the grounds are saturated. Stop pouring and let the coffee "bloom" for about a minute. Fresh coffee will raise and bubble a bit when first saturated with hot water.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Brew</h3>
					<p class="u-textLeft">
						After a minute haas passed, stir the coffee to break the "crust." Keep stirring until you've got an even mixture of coffee and water. Add more water until the French Press is full. Place the top on the french press and wait until the timer reads 4:00 minutes. Gently but firmly press down on the plunger, this should take about 30 seconds.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Enjoy</h3>
					<p class="u-textLeft">
						Once the plunger has reached the bottom of the press, you're ready to serve your coffee. Pour a cup, enjoy, and if you'd like, consider the french countryside.
					</p>
				</div>
			</div>
		</div>
	</section>
</section>

<section id="siphon" class="brew-guide">
	<section class="brew-guide--intro">
		<div class="brew-guide--header container-fluid">
			<img src="//cdn.shopify.com/s/files/1/1080/7300/files/siphon-dark.svg">
		</div>

		<div class="brew-guide--intro container container-90 u-padding--6y">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="u-textCenter u-capitalize u-letterSpacing3">Siphon</h2>
		 		</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<p class="u-textLeft">
						The Siphon is a gorgeous, very unique way to brew coffee. It's a full immersion brewing method that also utilizes a filter, and the brewing method shares a lot with the stovetop perculator. It's definitely a more involved brewing process than others, but it's one of the few that allows for control of all the variables.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--ingredients">
		<div class="container container-90 u-textCenter">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<div class="rectangle">
						<h5>You'll Need</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Brew Time</h3>
					<p>4:00 Minutes</p>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Ingredients</h3>
					<ul class="brew-guide--items">
						<li>32g (4.5 tablespoons) of fresh-roasted Flywheel Coffee</li>
						<li>350ml of fresh water</li>
					</ul>
				</div>
				<div class="brew-guide--ingredientSection col-md-4">
					<h3 class="u-capitalize u-letterSpacing3">Equipment</h3>
					<ul class="brew-guide--items">
						<li>Siphon Brewer</li>
						<li>Burner or Heating Device</li> 
						<li>Wooden Spoon or Coffee Paddle</li>
						<li>Gram Scale</li>
						<li> Timer </li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-90">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-textCenter">
				<div class="rectangle">
					<h5>How to brew</h5>
				</div>
			</div>
		</div>
	</div>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Fill & Heat</h3>
					<p class="u-textLeft">
						Remove the top cylinder of the siphon, and fill the bottom globe with 350ml of filtered water. Place the filled globe directly above your burner or other heating device. While the water heats up, attach the spring filter to the top cylinder, sink it in, and then loosely place the cylinder with filter on top of the bottom globe. Make sure it's sitting at an angle, and not sealed onto the bottom globe.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Weigh & Grind</h3>
					<p class="u-textLeft">
						While the water heats up, weigh out 32g of fresh roasted coffee and grind medium-coarse. You're aiming for the consistency of Kosher salt.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Attach Cylinder</h3>
					<p class="u-textLeft">
						Once the water begins boiling, make sure the top cylinder is securely attached to the bottom globe. It should be standing straight up.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Brew</h3>
					<p class="u-textLeft">
						The upper cylinder should start to fill with water. Once there is only a small amount remaining in the bottom of the globe, pour all your ground coffee into the top cylinder at once, and begin to stir in a circular motion using a wooden paddle for about 15-25 seconds. You'll see three levels of coffee, the first being a mixture of coffee and water, the next being the grounds beginning to float, and the last being the foam from the coffee starting to off-gas. Once your timer reads 1:00 minute, pull the pot off the heating device, and stir gently until you see the coffee beginning to trickle to the bottom globe.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="brew-guide--step">
		<div class="container container-90">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 u-padding--4y">
					<h3 class="u-capitalize u-letterSpacing3">Enjoy</h3>
					<p class="u-textLeft">
						Once all the coffee has drained to the bottom globe, remove the top cylinder, pour yourself a cup of coffee, and feel free to consider the physics of what you just watched.
					</p>
				</div>
			</div>
		</div>
	</section>
</section>