<section class="js-fadeIn product-image-carousel" data-fullscreen="false">
  {% for image in product.images %}
    <div class="product-slide">
      <img class="js-height-sync product-image" src="{{ image.src | product_img_url: 'grande' }}" data-image="{{ image.src | product_img_url: 'grande' }}">
    </div>
  {% endfor %}
</section>