{% comment %}
  Number of related items per row,
  and number of rows.
{% endcomment %}

{% assign number_of_related_products_per_row = 3 %}
{% assign number_of_rows = 1 %}
{% assign heading = 'Also Consider' %}
{% assign in_related_products = true %}

{% comment %}
  Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{% endcomment %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% comment %} Set to true to exclude items that are sold out {% endcomment %}
{% assign not_sold_out = true %}

{% comment %} Collections to ignore. Never pick related items from those. {% endcomment %}

{% comment %} Looking for a relevant collection. {% endcomment %}

{% comment %} If Related Products are specified via product metafields, get those. 
  {% if product.metafields.c_f['Related Products'] %}
    {% assign collection = collections[product.metafields.c_f['Related Products']] %}
  {% endif %}
{% endcomment %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
  {% assign current_product = product %}

  {% case number_of_related_products_per_row %}
    {% when 1 %}
      {% assign grid_item_width = '' %}
    {% when 2 %}
      {% assign grid_item_width = 'col-sm-12 col-md-6 col-lg-6' %}
    {% when 3 %}
      {% assign grid_item_width = 'col-sm-12 col-md-6 col-lg-4' %}
    {% when 4 %}
      {% assign grid_item_width = 'col-sm-12 col-md-6 col-lg-3' %}
    {% else %}
      {% assign grid_item_width = 'col-sm-12 col-md-6 col-lg-4' %}
  {% endcase %}

  {% capture related_items %}
    {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
        {% unless same_vendor and current_product.vendor != product.vendor %}
          {% unless same_type and current_product.type != product.type %}
            {% unless not_sold_out and product.available == false %}
              {% include 'product-col-item' %}
              {% assign counter = counter | plus: 1 %}
              {% if counter == break_at %}
               {% break %}
              {% endif %}
            {% endunless %}
          {% endunless %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endcapture %}

  {% assign related_items = related_items | trim %}

  {% unless related_items == blank %}

    <section class="related-products"
          {% unless in_coffee_collection and product.metafields.coffee.tasting_notes %}
            style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(
            {% if product.metafields.related_products.bg_img %}
              '{{ product.metafields.related_products.bg_img }}'
            {% else %}
              'https://cdn.shopify.com/s/files/1/1080/7300/files/frontofshop-obviicat.jpg?5099436614005486729'
            {% endif %}
            );">
          {% else %}
           style="background-color: rgb(255,255,255); border-top: 0px;">
          {% endunless %}

      <div class="container container-90">
        {% unless heading == blank %}
          <header class="section-header">
            <h1 class="section-header__title u-capitalize u-textRight u-letterSpacing3">{{ heading }}</h1>
          </header>
        {% endunless %}
        <div class="row">
          {{ related_items }}
        </div>
      </div>
    </section>

  {% endunless %}

{% endif %}