{% unless page.metafields.c_f.page_header_img == blank %}
	<section class="page-intro image-bg">
		<div class="bg-img-holder js-fadeIn u-verticalAlign" style="background: url({{ page.metafields.c_f.page_header_img }});">
      {% if page.metafields.c_f.page_header_copy %}
        <h1 class="u-capitalize u-textCenter intro-header">{{ page.metafields.c_f.page_header_copy }}</h1>
      {% endif %}
		</div>
	</section>
{% endunless %}

<section class="page-content">
  {{ page.content }}
</section>
